data/
edx-demo-course/
tests/__init__.py

*.py[cod]
__pycache__

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build/
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Virtual environments
.venv
venv

# Installer logs
pip-log.txt

# Unit test / coverage reports
.cache/
.coverage
.coverage.*
.pytest_cache/
.tox
coverage.xml
htmlcov/
edx-platform/reports/cover/

# Translations
*.mo

# IDEs and text editors
*~
*.swp
.idea/
.project
.pycharm_helpers/
.pydevproject
.vscode

# The Silver Searcher
.agignore

# OS X artifacts
*.DS_Store

# Logging
log/
logs/
chromedriver.log
ghostdriver.log

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
docs/modules.rst
docs/fonzie.rst
docs/fonzie.*.rst

# Private requirements
requirements/private.in
requirements/private.txt

# Development task artifacts
default.db

# Node.js
node_modules
yarn-error.log

